# common options
common --enable_bzlmod # Enable Bzlmod for every Bazel command

# registry, default BCR
build --registry=https://bcr.bazel.build # BCR

# common for c++
build --action_env=CXX=clang++
build --action_env=CC=gcc

# common for link
build:debug --linkopt=-g
build:debug --strip=never

# for --config=asan
build:asan --strip=never
build:asan --copt=-fsanitize=address
build:asan --linkopt=-fsanitize=address

# for Termux only
build:termux --linkopt=-llog
